In [143]:
import pandas as pd
import datetime as dt
from time import sleep
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options
from selenium import webdriver
from bs4 import BeautifulSoup
import re

def converter(x):
    if type(x) == str:
        if bool(re.match(r'\d+(?:\.)\d+%', x)) == True:
            return float(x[:-1])/100
        elif bool(re.match(r'\d+(?:\.)\d+[A-Z]', x)) == True:
            if x[-1] == 'T':
                return float(x[:-1])*10e11
            elif x[-1] == 'B':
                return float(x[:-1])*10e8
            elif x[-1] == 'M':
                return float(x[:-1])*10e5
            else:
                return str(x)
        elif bool(re.match(r'\d+(?:\.)\d+$', x)) == True:
            return float(x)
        elif bool(re.match(r'^[0-9]+$', x)) == True:
            return float(x)
        else:
            return str(x)
    else:
        return (x)
                

class Ticker:
    def __init__(self, index):
        self.index = index.upper()
    
    def profile(self):
        url = f'https://ca.finance.yahoo.com/quote/{self.index}?p={self.index}&.tsrc=fin-srch'
        dfs = pd.read_html(url, match = '.+')
        frames = [dfs[0],dfs[1]]
        data = pd.concat(frames)
        data.columns = ['KPI', 'value']
        data['value'] = data['value'].apply(lambda x: converter(x))
        data = data.reset_index().drop('index', axis =1).set_index('KPI')
        
        return data
    
    def key_stats(self):
        url = f'https://ca.finance.yahoo.com/quote/{self.index}/key-statistics?p={self.index}'
        dfs = pd.read_html(url, match = '.+')
        data = pd.DataFrame()
        frames = [dfs[x] for x in range(0,len(dfs))]
        data = data.append(frames)
        data.columns = ['KPI', 'value']
        data['value'] = data['value'].apply(lambda x: converter(x))
        data = data.reset_index().drop('index', axis =1).set_index('KPI')
        
        return data

    def get_history(self, date_from=str(dt.date.today() - dt.timedelta(days=7)), date_to=str(dt.date.today()), set_sleep = 1):
        """ This function gets URL from Yahoo Fin, deafult date from: a week ago, date to: today. Dates are format YYYY-MM-DD.
        set_sleep is number seconds used to control the time your browser needs to load each update on page, do not set too quick """
        date_from = dt.datetime.strptime(date_from, '%Y-%m-%d')
        date_to = dt.datetime.strptime(date_to, '%Y-%m-%d')
        unix_to = int(dt.datetime(date_to.year,date_to.month,date_to.day).replace(tzinfo=dt.timezone.utc).timestamp())
        unix_from = int(dt.datetime(date_from.year,date_from.month,date_from.day).replace(tzinfo=dt.timezone.utc).timestamp())
        url = f'https://ca.finance.yahoo.com/quote/{self.index}/history?period1={unix_from}&period2={unix_to}&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true'
        options = Options()
        options.add_argument("--headless")
        options.add_experimental_option('excludeSwitches', ['enable-logging'])
        browser = webdriver.Chrome(options=options)
        browser.implicitly_wait(2)
        browser.get(url)
        html = browser.find_element_by_tag_name('html')
        old_rows = browser.execute_script("return document.getElementsByTagName('tr').length")
        while True:
            html.send_keys(Keys.END)
            sleep(set_sleep)
            new_rows = browser.execute_script("return document.getElementsByTagName('tr').length")
            if old_rows == new_rows:
                break
            else:
                old_rows = new_rows

        page_source = browser.page_source
        
        soup = BeautifulSoup(page_source, features = 'lxml')
        table = soup.find('table', {"class":"W(100%)"})
        rows = table.findAll('tr')
        headers = [rows[0].findAll('th')[x].text for x in range(len(rows[0].findAll('th')))]

        row_list = []
        for r in range(1,len(rows)):
            get_row = [rows[r].findAll('td')[x].text for x in range(len(rows[r].findAll('td')))]
            row_list.append(get_row)
            data = pd.DataFrame(data = row_list, columns = headers)
        
        for x in range(1,len(data.columns)):
            data.iloc[:,x] = data.iloc[:,x].str.replace(',', '').astype(float)
        data = data.drop([len(data)-1])
        data.iloc[:,0] = pd.to_datetime(data.iloc[:,0])
        browser.close()
        return data

In [144]:
goog = Ticker('goog')
stat = goog.key_stats()
profile = goog.profile()

In [150]:
index = []
value = []
types = []
    
for x in range(len(profile['value'])):
    index.append(profile.index[x]), value.append(profile['value'][x]), types.append(type(profile['value'][x]))

    
prof_df = pd.DataFrame([index,value,types])
prof_df = prof_df.T
prof_df.columns = ['index','value','types']
prof_df

                       index                value            types
0             Previous Close              1739.37  <class 'float'>
1                       Open              1734.43  <class 'float'>
2                        Bid           0.00 x 900    <class 'str'>
3                        Ask          0.00 x 1100    <class 'str'>
4                Day's Range  1,712.57 - 1,737.41    <class 'str'>
5              52 Week Range  1,013.54 - 1,847.20    <class 'str'>
6                     Volume               938346  <class 'float'>
7                Avg. Volume          1.70519e+06  <class 'float'>
8                 Market Cap            1.164e+12  <class 'float'>
9          Beta (5Y Monthly)                    1  <class 'float'>
10            PE Ratio (TTM)                 33.3  <class 'float'>
11                 EPS (TTM)                51.75  <class 'float'>
12             Earnings Date                  NaN  <class 'float'>
13  Forward Dividend & Yield            N/A (N/A)    <class 'str'>
14          Ex-Dividend Date                  NaN  <class 'float'>
15             1y Target Est              1839.17  <class 'float'>

In [149]:
index = []
value = []
types = []

for x in range(len(stat['value'])):
    index.append(stat.index[x]), value.append(stat['value'][x]), types.append(type(stat['value'][x]))

stat_df = pd.DataFrame([index,value,types])
stat_df = stat_df.T
stat_df.columns = ['index','value','types']
stat_df

,index,value,types
0,Market Cap (intraday) 5,1.16e+12,<class 'float'>
1,Enterprise Value 3,1.07e+12,<class 'float'>
2,Trailing P/E,33.3,<class 'float'>
3,Forward P/E 1,28.14,<class 'float'>
4,PEG Ratio (5 yr expected) 1,2.02,<class 'float'>
5,Price/Sales (ttm),6.78,<class 'float'>
6,Price/Book (mrq),5.49,<class 'float'>
7,Enterprise Value/Revenue 3,6.24,<class 'float'>
8,Enterprise Value/EBITDA 6,22.29,<class 'float'>
9,Beta (5Y Monthly),1,<class 'float'>
10,52-Week Change 3,0.2946,<class 'float'>
11,S&P500 52-Week Change 3,0.1463,<class 'float'>
12,52 Week High 3,1847.2,<class 'float'>
13,52 Week Low 3,1013.54,<class 'float'>
14,50-Day Moving Average 3,1763.89,<class 'float'>
15,200-Day Moving Average 3,1576.86,<class 'float'>
16,Avg Vol (3 month) 3,1.71e+06,<class 'float'>
17,Avg Vol (10 day) 3,2.01e+06,<class 'float'>
18,Shares Outstanding 5,3.2987e+08,<class 'float'>
19,Float,6.0955e+08,<class 'float'>
20,% Held by Insiders 1,0.0584,<class 'float'>
21,% Held by Institutions 1,0.6824,<class 'float'>
22,"Shares Short (Nov. 29, 2020) 4",2.37e+06,<class 'float'>
23,"Short Ratio (Nov. 29, 2020) 4",1.26,<class 'float'>
24,"Short % of Float (Nov. 29, 2020) 4",NaN,<class 'float'>
25,"Short % of Shares Outstanding (Nov. 29, 2020) 4",0.0035,<class 'float'>
26,"Shares Short (prior month Oct. 29, 2020) 4",2.46e+06,<class 'float'>
27,Forward Annual Dividend Rate 4,NaN,<class 'float'>
28,Forward Annual Dividend Yield 4,NaN,<class 'float'>
29,Trailing Annual Dividend Rate 3,NaN,<class 'float'>
30,Trailing Annual Dividend Yield 3,NaN,<class 'float'>
31,5 Year Average Dividend Yield 4,NaN,<class 'float'>
32,Payout Ratio 4,0,<class 'float'>
33,Dividend Date 3,NaN,<class 'float'>
34,Ex-Dividend Date 4,NaN,<class 'float'>
35,Last Split Factor 2,10000000:10000000,<class 'str'>
36,Last Split Date 3,"Apr. 26, 2015",<class 'str'>
37,Fiscal Year Ends,"Dec. 30, 2019",<class 'str'>
38,Most Recent Quarter (mrq),"Sep. 29, 2020",<class 'str'>
39,Profit Margin,0.208,<class 'float'>
40,Operating Margin (ttm),0.2029,<class 'float'>
41,Return on Assets (ttm),0.0774,<class 'float'>
42,Return on Equity (ttm),0.1751,<class 'float'>
43,Revenue (ttm),1.717e+11,<class 'float'>
44,Revenue Per Share (ttm),250.99,<class 'float'>
45,Quarterly Revenue Growth (yoy),0.14,<class 'float'>
46,Gross Profit (ttm),8.996e+10,<class 'float'>
47,EBITDA,4.808e+10,<class 'float'>
48,Net Income Avi to Common (ttm),3.571e+10,<class 'float'>
49,Diluted EPS (ttm),51.75,<class 'float'>
50,Quarterly Earnings Growth (yoy),0.591,<class 'float'>
51,Total Cash (mrq),1.326e+11,<class 'float'>
52,Total Cash Per Share (mrq),196.02,<class 'float'>
53,Total Debt (mrq),2.754e+10,<class 'float'>
54,Total Debt/Equity (mrq),12.94,<class 'float'>
55,Current Ratio (mrq),3.41,<class 'float'>
56,Book Value Per Share (mrq),314.17,<class 'float'>
57,Operating Cash Flow (ttm),5.687e+10,<class 'float'>
58,Levered Free Cash Flow (ttm),2.815e+10,<class 'float'>

In [152]:
prof_df[prof_df['types'] == str]

                       index                value          types
2                        Bid           0.00 x 900  <class 'str'>
3                        Ask          0.00 x 1100  <class 'str'>
4                Day's Range  1,712.57 - 1,737.41  <class 'str'>
5              52 Week Range  1,013.54 - 1,847.20  <class 'str'>
13  Forward Dividend & Yield            N/A (N/A)  <class 'str'>

In [153]:
stat_df[stat_df['types'] == str]

                        index              value          types
35        Last Split Factor 2  10000000:10000000  <class 'str'>
36          Last Split Date 3      Apr. 26, 2015  <class 'str'>
37           Fiscal Year Ends      Dec. 30, 2019  <class 'str'>
38  Most Recent Quarter (mrq)      Sep. 29, 2020  <class 'str'>

In [154]:
history = goog.get_history()
history

        Date     Open     High      Low   Close*  Adj Close**     Volume
0 2020-12-22  1734.43  1737.41  1712.57  1723.50      1723.50   936700.0
1 2020-12-21  1713.51  1740.85  1699.00  1739.37      1739.37  1828400.0
2 2020-12-18  1754.18  1755.11  1720.22  1731.01      1731.01  4016400.0
3 2020-12-17  1768.51  1771.78  1738.66  1747.90      1747.90  1624700.0
4 2020-12-16  1772.88  1773.00  1756.08  1763.00      1763.00  1513500.0

In [155]:
historyOct5 = goog.get_history(date_from = '2020-10-5')
historyOct5

         Date     Open     High      Low   Close*  Adj Close**     Volume
0  2020-12-22  1734.43  1737.41  1712.57  1723.50      1723.50   936700.0
1  2020-12-21  1713.51  1740.85  1699.00  1739.37      1739.37  1828400.0
2  2020-12-18  1754.18  1755.11  1720.22  1731.01      1731.01  4016400.0
3  2020-12-17  1768.51  1771.78  1738.66  1747.90      1747.90  1624700.0
4  2020-12-16  1772.88  1773.00  1756.08  1763.00      1763.00  1513500.0
5  2020-12-15  1764.42  1771.42  1749.95  1767.77      1767.77  1482300.0
6  2020-12-14  1775.00  1797.39  1757.21  1760.06      1760.06  1600200.0
7  2020-12-11  1763.06  1784.45  1760.00  1781.77      1781.77  1220700.0
8  2020-12-10  1769.80  1781.31  1740.32  1775.33      1775.33  1362800.0
9  2020-12-09  1812.01  1834.27  1767.81  1784.13      1784.13  1507600.0
10 2020-12-08  1810.10  1821.90  1796.20  1818.55      1818.55  1096300.0
11 2020-12-07  1819.00  1832.37  1805.78  1819.48      1819.48  1320900.0
12 2020-12-04  1824.52  1833.16  1816.99  1827.99      1827.99  1378200.0
13 2020-12-03  1824.01  1847.20  1822.65  1826.77      1826.77  1227300.0
14 2020-12-02  1798.10  1835.65  1789.47  1827.95      1827.95  1222000.0
15 2020-12-01  1774.37  1824.83  1769.37  1798.10      1798.10  1739000.0
16 2020-11-30  1781.18  1788.06  1755.00  1760.74      1760.74  1823800.0
17 2020-11-27  1773.09  1804.00  1772.44  1793.19      1793.19   884900.0
18 2020-11-25  1772.89  1778.54  1756.54  1771.43      1771.43  1045800.0
19 2020-11-24  1730.50  1771.60  1727.69  1768.88      1768.88  1578000.0
20 2020-11-23  1749.60  1753.90  1717.72  1734.86      1734.86  2161600.0
21 2020-11-20  1765.21  1774.00  1741.86  1742.19      1742.19  2313500.0
22 2020-11-19  1738.38  1769.59  1737.01  1763.92      1763.92  1249900.0
23 2020-11-18  1765.23  1773.47  1746.14  1746.78      1746.78  1173500.0
24 2020-11-17  1776.94  1785.00  1767.00  1770.15      1770.15  1147100.0
25 2020-11-16  1771.70  1799.07  1767.69  1781.38      1781.38  1246800.0
26 2020-11-13  1757.63  1781.04  1744.55  1777.02      1777.02  1499900.0
27 2020-11-12  1747.63  1768.27  1745.60  1749.84      1749.84  1247500.0
28 2020-11-11  1750.00  1764.22  1747.36  1752.71      1752.71  1264000.0
29 2020-11-10  1731.09  1763.00  1717.30  1740.39      1740.39  2636100.0
30 2020-11-09  1790.90  1818.06  1760.02  1763.00      1763.00  2268300.0
31 2020-11-06  1753.95  1772.43  1740.35  1761.75      1761.75  1660900.0
32 2020-11-05  1781.00  1793.64  1750.51  1763.37      1763.37  2065800.0
33 2020-11-04  1710.28  1771.36  1706.03  1749.13      1749.13  3570900.0
34 2020-11-03  1631.78  1661.70  1616.62  1650.21      1650.21  1661700.0
35 2020-11-02  1628.16  1660.77  1616.03  1626.03      1626.03  2535400.0
36 2020-10-30  1672.11  1687.00  1604.46  1621.01      1621.01  4329100.0
37 2020-10-29  1522.36  1593.71  1522.24  1567.24      1567.24  2003100.0
38 2020-10-28  1559.74  1561.35  1514.62  1516.62      1516.62  1834000.0
39 2020-10-27  1595.67  1606.84  1582.78  1604.26      1604.26  1229000.0
40 2020-10-26  1625.01  1638.24  1576.50  1590.45      1590.45  1853300.0
41 2020-10-23  1626.07  1642.36  1620.51  1641.00      1641.00  1375800.0
42 2020-10-22  1593.05  1621.99  1585.00  1615.33      1615.33  1433600.0
43 2020-10-21  1573.33  1618.73  1571.63  1593.31      1593.31  2568300.0
44 2020-10-20  1527.05  1577.50  1525.67  1555.93      1555.93  2241700.0
45 2020-10-19  1580.46  1588.15  1528.00  1534.61      1534.61  1607100.0
46 2020-10-16  1565.85  1581.13  1563.00  1573.01      1573.01  1434700.0
47 2020-10-15  1547.15  1575.10  1545.03  1559.13      1559.13  1540000.0
48 2020-10-14  1578.59  1587.68  1550.53  1568.08      1568.08  1931000.0
49 2020-10-13  1583.73  1590.00  1563.20  1571.68      1571.68  1601000.0
50 2020-10-12  1543.00  1593.86  1532.57  1569.15      1569.15  2482600.0
51 2020-10-09  1494.70  1516.52  1489.45  1515.22      1515.22  1435300.0
52 2020-10-08  1465.09  1490.00  1465.09  1485.93      1485.93  1187800.0
53 2020-10-07  1464.29  1468.96  1436.00  1460.29      1460.29  1746200.0
54 2020-10-06  1475.58  1486.76  1448.59  1453.44      1453.44  1245400.0
55 2020-10-05  1466.21  1488.21  1464.27  1486.02      1486.02  1113300.0

In [157]:
history.dtypes

Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close*                float64
Adj Close**           float64
Volume                float64
dtype: object